
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 
 
header, footer{
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    padding: 1em;
    text-align: center;
    color: hsl(300, 50%, 95%);
    display:block;
    margin:auto;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 20px;
  }
  nav div{
    flex: 1 1 auto;
    margin-right: 0.9em;
  }
  nav a:hover {
	background-color:hsl(300, 50%, 95%);
	padding: 20px;
}
  main {
    margin:auto;
  }

h2{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    color: hsl(300, 50%, 95%);
    text-align:center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
}


section,section3{
   margin: 0 auto;
    display:block;
    width: 50%;
    background:	#CBC3E3;
    border: 1px solid #CBC3E3;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 15px;
  }
  .typecolor{
    justify-content: center;
  }
.text{
    text-align:center;
    padding:20px;
}
figcaption{
    font-size:12px;
}
 /*Media query*/
 @media screen and (max-width: 600px) {
    video{
        width:90%
    }
    
}

