/*fonts
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Cormorant Garamond', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700;800;900&display=swap');
/*colors
red: #BA1200
orange:#FF9F1C
black: #000000
white:#FFFFFF
green:#72a276
*/
body{
    margin:0;
}
p, h3, h4{
    font-family: 'Cormorant Garamond', serif;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}
h2{
    font-family: 'Barlow Condensed', sans-serif;
}
header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px 0; 
}

nav, nav a{
    display:flex;
    align-items:center;
  }

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border:none;
    font-size: 2rem;
    color: #FF9F1C;
}
nav ul{
 list-style-type: none;
 display:none;
 padding:0;
 margin:0;
}
nav ul.open{
    display:flex;
}
   
nav ul li a, nav ul,nav ul.open{
       list-style-type: none;
       justify-items: center;
       padding: .8rem 2vw;
       text-decoration: none;
   }
nav ul li a:visited{
    color:#FF9F1C;

}
nav ul li a:hover{
    background-color:#FF9F1C;
    color: #ffff; 
}
#hamburgerBtn span:nth-child(1){display:block;}
#hamburgerBtn span:nth-child(2){display:none;}

/* Logo Image*/
header img{
    height:90%
}

.social{
    border-radius: 100%;
    width: 19px;
    margin: 0 4px;
    height: auto;
}
#banner img{
    width:100%;
}
/*banner container*/
.container{
 position: relative;
}
.title{
 position: absolute;
 bottom: 30%;
 right:19%;
 font-size: 1em;
 color: #ffff;
}
.freshButton button{
 position: absolute;
 top:60%;
 right:20%;
 border-radius: 10px;
 border: 1px solid white;
 background-color: #72a276;
 color:white;
}

/*section container*/
.sectionContainer{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0;
    justify-items: center;
    align-items:center;
}
.section{
 margin: -4px;
}
#image2{
    display:none;
}
/*contact information section*/
#contact{
    height: 241px;
    font-size: smaller;
    line-height: 1;
}

/*weather section*/
.weatherContainer{
    background-color: rgba(255, 159, 28, 0.3);
    margin-bottom: 15px;
}
.wCard, .sCard{
    border: 2px solid white;
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.tophalf p{
    font-size:20px;
    margin:0;
}
.bottomhalf{
    font-weight: bold;
}
/*summary section*/
.summary{
    background-color: rgba(186, 18, 0, 0.3);
    margin-bottom: 15px;
}
.Newsbtn{
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255, 159, 28, 0.3);
    color:white;
}
/*footer info*/
footer{
    height: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 60px 0; 
}
.fttop, .copyinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#year{
    font-weight: bold;
}
/*About us Page*/

.aboutMain{
    display: grid;

    justify-items: center;
    background-color: rgba(255, 159, 28, 0.3);
}
.history{
    width: 300px;
}

.img_container{
    display:none;
}

/*Fresh Page*/
form{
    background-color: rgba(255, 159, 28, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
fieldset{
    background-color:white;
    border: #BA1200 solid 4px;
    max-width:500px;
    display:flex;
    flex-direction: column;
    margin: 20px;
}
form label.top input{
    width: 100%;
    padding: .5rem;
    margin-bottom:10px;
    border: #FF9F1C solid 2px;
}
form label.level input{
    margin:20px 0 20px 0;
}
.submitbtn{
    background-color: #72a276;
    color: white;
    border: #72a276 solid 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 2rem;
}
.submitbtn:hover{
    background-color: #FF9F1C;
    border: 72a276 solid 4px;
    font-weight: bold;
    padding: 18px;
    border-radius: 2rem;
    
}
.red{
    color:#BA1200 ;
    }
