@media only screen and (min-width: 35em){
    nav button{ display: none;}
    nav ul {
        display:flex;

        
    }
    nav ul li a{
        border:none;
    }
    .title{
        position: absolute;
        bottom: 30%;
        right:19%;
        font-size: 2em;
        color: #ffff;
       }
}