
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    padding: 0.20em;
    background-color: #0A1045;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color:#0A1045;
    font-family: 'Ubuntu', sans-serif;   
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, p{
    font-family:'Open Sans', sans-serif;
}
header h1{
    margin:0;
    font-size:10px;
    
}
header div{
    font-size: 6px ;
}
/*Navigation Items*/
header img{
    width: 5%;
    margin: 5px;
}
img.social{
    width: 1.5em;
    height: auto;
}
nav,nav a{
    display:flex;
    align-content: baseline;
  }
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border:none;
    font-size: 2rem;
    color: #ffff;
}
nav ul{
 list-style-type: none;
 display:none;
 padding:0;
 margin:0;
}
nav ul.open{
    display:block;
}

nav ul li a{
    display:flex;
    justify-items: center;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffff;
}
nav ul li a:hover{
    color:#0A1045;
    background-color: #ffff; 
}
#hamburgerBtn span:nth-child(1){display:block;}
#hamburgerBtn span:nth-child(2){display:none;}

main {
    padding-top: 20px;
    margin: 0 35px 0 35px;
  }
.section, .sl_container{
    margin: 10px;
    display:block;
    background:	#ffff;
    border: 4px solid #6A8EAE;
    padding: 1em;
}
.sl_section{
    flex:auto;
    margin:10px;
    border: 1px solid #6A8EAE;
    padding: 0px 0px 150px 0px;
    
}
#hero{
    min-height:200px;
}
#spotlight3{
    display:none;
}
#meeting{
    background-color: #0A1045;
    color:#ffff;
    display:flex;
    padding: 1em;
    display:flex;
    border: 4px solid #ffff;
    justify-content:space-around;
    align-items: center;
    margin:10px;
}
.dateBanner{
    grid-row: 1;
    font-size: 16px;
    background-color:#ffff;
    border: 4px solid #6A8EAE;
    padding: 1em;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:20px;
}
.joinBanner{
    padding: 5px;
    max-width: 500px;
    border: #6A8EAE double 10px;
    text-align: center;
    justify-self: center;
    background-color: white;
    grid-row: 1;
    grid-column:1/3;
}
#discover{
    font-size: 20px;
    
}
#hero button{
    position: absolute;
    opacity: 75%;
    border-radius: 10px;
    
}

.copyinfo{
    margin-top: 1em;
    border-top: 1px gray solid;
}
#hero{
    background-image: url("../images/mountains.jpeg");
    background-size: 100% 100%;
}
footer{
    text-align: center;
    color: #ffff;
    background-color:#0A1045;
    font-family: 'Ubuntu', sans-serif;   
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
#discoveryimg{
    position:relative;
    text-align: center;

}

.img-text {
    position: absolute;
    color: black;
    padding:2px;
    height:35%;
    bottom:0px;
    left:0px;
    background-color: rgba(255,255,255,.9);
    border: 2px solid #0A1045;
  }
  
  .directory-container{
    color: #0A1045;
    border: 3.5px solid #6A8EAE;
    background-color: white;
    display: grid;
    justify-items:center;
    justify-content: space-evenly;
  }
  .directory-button{
    border: none;
    background-color: transparent;
    
  }
 .directory-container h2{
    margin-bottom: 0;
  }
  #grid.directory-button{
    margin-right: 25px;
  }


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.list{
    display: flex;
    flex-direction: column;
    
}
.list section {
	display: flex;
	align-items: space-between;
}
.list section {
	flex-direction: row;
	justify-content: left;
}
.list section img {
    display: none;
}
.list section:nth-child(even) {
    background-color: #f2f2f2;
  }
  
main section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}



main section img {
    width: auto;
    max-height: 100px;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tophalf{
    display:flex;
    align-items: center;
}
a{
    color:white;
}
h4, h3, p {
  
    margin: 10px;
    font-weight: 400;
    font-size: medium;
}

main section h1 {
    text-align: center;
    padding-top: 15px;
    color:white;
    width: 100%;
    height: 60px;
    
}

main section:hover  {
    border: 6px solid #6A8EAE;
}
.directory-button:hover  {
    border: 6px solid #6A8EAE;
    background: #b9d5ee;
}
fieldset{
    background-color:white;
    border:#6A8EAE solid 4px;
    max-width:500px;
    display:flex;
    flex-direction: column;
    margin: 20px;
}
form label.top input{
    width: 100%;
    padding: .5rem;
    margin-bottom:10px;
    border: #6A8EAE solid 2px;
}
form label.level input{
    margin:20px 0 20px 0;
}
.submitbtn{
    background-color: #6A8EAE;
    color: white;
    border: #6A8EAE solid 4px;
    margin: 20px;
    padding: 20px;
    border-radius: 2rem;
}
.submitbtn:hover{
    background-color: white;
    color: #6A8EAE;
    border: white solid 4px;
    margin: 20px;
    padding: 20px;
    border-radius: 2rem;
}
legend{
    background: white;
    border: #6A8EAE solid 2px;
    padding:1em;
    border-radius: 2rem;
}
#red{
color:red;
}
textarea{
    display:block;
    border: #6A8EAE solid 2px;
}
*{
  -webkit-box-sizing:border-box;
}
