@media only screen and (min-width: 35em){
    nav button{ display: none;}
    nav ul {
        display:flex;

        
    }
    nav ul li a{
        border:none;
    }
    header h1{
        font-size: 20px;
    }
    header div{
        font-size: 12px ;
    }
    main {
        display:grid;
        grid-gap: 5px;
    }
    
    #hero{
        grid-row: 1;
        grid-column: 1/3;
    }

    #event{
        grid-row: 4;
        grid-column: 1
    }
    #weather{
        grid-row: 4;
        grid-column: 2;
    }
    #join{
        grid-row: 3;
        grid-column:1/3;
    }
    #news{
        grid-row: 2;
        grid-column: 1/3;
    }
   
    .sl_container{
        grid-column:1/3;
        grid-row:3;
        display:flex;
    }
    .footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .ftlogo{
        display:flex;
        text-align:left;
    }
    footer img{
        display:block;
        margin:0px;
    }
    #discoveryimg,#discoveryimg1,#discoveryimg2,#discoveryimg3,#discoveryimg4,#discoveryimg5{
        transition:transform .2s;
    }
    #discoveryimg:hover, #discoveryimg1:hover,#discoveryimg2:hover,#discoveryimg3:hover,#discoveryimg4:hover,#discoveryimg5:hover{
        transform: scale(1.1);
    }
    #benefits{
        display:none;
    }
    
}